<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <th:block th:insert="fragments/header"></th:block>

        <th:block th:if="${page}">
            <th:block th:insert="|fragments/${page}|"></th:block>
        </th:block>

    <th:block th:insert="fragments/footer"></th:block>
</body>
</html>